# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# vercel
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# next.js
/.next/
/out/

# production
/build